* {
    box-sizing: border-box;
    color: #ffffff;
    font-family: 'IBM Plex Mono', monospace;
}

body {
    background: #222222;
    width: 100%;
    /* height: 100vh; */
    overflow-x: hidden;
    margin: 0;
}

.chart {
    width: 60%;
    margin: auto;
    display: flex; 
    flex-wrap: wrap;
    padding: 2.5% 0 1% 0;
    /* justify-content: center; */
}

.chartSmall {
    display: flex; 
    flex-wrap: wrap;
}

.chartSmallContainer {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    padding: 2.5% 0 1% 0;
}

.holderBig {
    width: 40%;
    padding-bottom: 20px;
}

.holderMedium {
    width: 30%;
    padding-bottom: 20px;
}

.holderSmall {
    width: 20%;
}

.chartSmallContainer .label {
    width: auto;
    padding: 2.5% 5% 1% 10px;
}

.label.regular {
    font-style: normal;
}

#footer {
    height: 200px;
}

.text {
    width: 60%;
    margin: auto;
    padding: 5% 10px 0 10px;
}

.person {
    height: 40px;
    width: 40px;
    margin: 10px;
    border-radius: 2px;
}

.tooltip {
    background: #333333;
    width: fit-content;
    border-radius: 2px;
    position: absolute;
    opacity: 0;
    padding: 10px;
    border: 1px solid #ffffff;
}

.label {
    width: 60%;
    margin: auto;
    font-style: italic;
    padding: 0 10px;
    font-size: .85rem;
}

h3, p {
    margin: 0;
}

span {
    font-weight:600;
}

@media screen and (max-width: 800px) {
    .chart {
        width: 90%;
    }

    .text {
        width: 90%;
    }

    .label {
        width: 90%;
    }

    .chartSmallContainer {
        width: 90%;
    }

    .holderBig {
        width: 90%;
    }
    
    .holderMedium {
        width: 90%;
    }
    
    .holderSmall {
        width: 45%;
    }

    .person {
        height: 40px;
        width: 40px;
        margin: 20px;
        border-radius: 2px;
    }
  }